:root {
  --primary-color: #ff5733;
  --secondary-color: #23b5d3;
  --background-color: #f8f8f8;
  --text-color: #333;
  --accent-color: #ffc107;
  --error-color: #ff5252;
  --success-color: #4caf50;
  --warning-color: #ff9800;

  /* button styles */
  --button-background: var(--primary-color);
  --button-color: #fff;
  --button-hover-background: #0056b3;
  --button-hover-color: #fff;
  --button-active-background: #003f80;
  --button-active-color: #fff;

  /* spacing */
  --spacing: 1rem;

  /* Input Fields */
  --input-background: #fff;
  --input-color: #333;
  --input-border-radius: 0.25rem;
  --input-border: 1px solid #ccc;
  --input-padding: 0.5rem 1rem;
  --input-focus-border: 1px solid var(--primary-color);
  --input-focus-box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);

  /* Headings */
  --h1-font-size: 2rem;
  --h1-font-weight: bold;
  --h1-line-height: 1.2;
  --h1-color: var(--primary-color);

  /* tranistion */

  --transition: all 0.3s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;
  --transition-slow: all 0.5s ease-in-out;

  /* z-index */
  --z-index-dropdown: 100;
  --z-index-modal: 200;
  --z-index-top: 1000;
}
[data-theme="dark"] {
  --primary-color: #ff784d;
  --secondary-color: #2b8fa5;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #ffd300;

  /* button styles */
  --button-background: var(--primary-color);
  --button-color: #fff;
  --button-hover-background: #0056b3;
  --button-hover-color: #fff;
  --button-active-background: #003f80;
  --button-active-color: #fff;

  /* input  */
  --input-background: #333;
  --input-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color);
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}
